body{
    margin: 0%;
    font-family: 'Montserrat', sans-serif;
}

.main {
    height: 100vh;
    background: linear-gradient(45deg, #FC466B, #3F5EFB);
    
}

#continer{
    display: flex;
  justify-content: center;
  
}

#logo-i{
    background-color: #ffffff08;
    backdrop-filter: blur(20px);
    color: #ffffff;
    font-weight: 700;
    font-size: 30px;
    margin: 0 auto;  
    padding: 10px 20px;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
}

#form{
    background-color: #ffffff08;
    backdrop-filter: blur(20px);
    padding: 50px;
    margin-top: 30px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
}

#form-search{
    background-color: #ffffff08;
    backdrop-filter: blur(20px);
    padding: 30px 50px 15px 50px;
    margin-top: 30px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
}

input {
    color: #ffffff;
    background: transparent;
    width: 300px;
    height: 25px;
    padding: 1em;
    margin-bottom: 2em;
    border: none;
    border-radius: 5000px;
    backdrop-filter: blur(5px);
    box-shadow: 4px 4px 60px rgba(0,0,0,0.2);
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    transition: all 0.2s ease-in-out;
}

#search-form{
    margin-right: 20px;
    margin-bottom: 0px;
}

::placeholder {
    padding: 20px;
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    color: #fff;
  }
  input[type=submit] {

    margin: auto;
             
    background: linear-gradient(95deg, #FC466B, #3F5EFB);       
        text-align: center;
        text-transform: uppercase;
        transition: 0.5s;
        background-size: 200% auto;
        color: white;            
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.123);
        border-radius: 50px;
        display: block;
        height: 50px;
        width: 200px;
        margin-bottom: 20px

}

input[type=submit]:hover {
        background-position: right center; /* change the direction of the change here */
        color: #fff;
        text-decoration: none;
        ;
}

#heading{
    margin: auto;
    text-align: center;
    margin-bottom: 20px;
    color: #ffffff;
}
#text{
    display: flex;
    justify-content: center;
    color: #ffffff;
    margin: 10px;
}
a{
    color: #ffffff;
    text-decoration: none;
    text-align: center;
}
#text-a{
    color: #000000;
}
.s-text{
    font-size: 13px;
}

#continer-text{
    width: 1100px;
    margin: auto;
    color: #ffffff;
    margin-top: 50px;
    text-align: center;
    line-height: 30px;
}

#continer-img{
    background:linear-gradient(90deg, #3f5efbb9, #fc466ad2), url(/nutritionphilosophy_detailfeature.png);
      background-size:cover;
    margin: auto;
    text-align: center;
    padding: 80px 500px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.123);
    transition-duration: 0.5s;
    font-size: 20px;
    font-weight: 600;
}

#continer-img:hover{
    background-position: right center;
}

#cointiner-inline{
    display: flex;
}

#list{
    flex: 1;
    text-align: center;
    margin: 20px 100px;
}

.product{
    background-color: #ffffff08;
    backdrop-filter: blur(20px);
    color: #ffffff;
    margin: 0 auto;  
    padding: 10px 20px;
    margin-top: 80px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
    text-align: center;
    position: absolute;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 25px;
  }

td{
    border: 1px solid #ffffff38;
    text-align: left;
    padding: 10px 50px;
  }
  
  .hidden { visibility: hidden; }

  .button{
    margin: auto;
             
    background: linear-gradient(95deg, #FC466B, #3F5EFB);       
        text-align: center;
        text-transform: uppercase;
        transition: 0.5s;
        background-size: 200% auto;
        color: white;            
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.123);
        border-radius: 50px;
        display: block;
        height: 50px;
        width: 200px;
        margin-bottom: 20px
  }

  .button:hover{
    background-position: right center; /* change the direction of the change here */
        color: #fff;
        text-decoration: none;
        ;
  }